
TesteFuncionais/.idea/workspace.xml
TesteFuncionais/.idea/misc.xml
*.xml
*.xml
TesteFuncionais/.idea/workspace.xml
TesteFuncionais/.nrepl-port
TesteFuncionais/.nrepl-port
TesteFuncionais/.idea/misc.xml
TesteFuncionais/.idea/workspace.xml
TesteFuncionais/.idea/misc.xml
TesteFuncionais/.idea/workspace.xml
TesteFuncionais/.nrepl-port
*.xml
